// define any additional styles here

body {
  font-family: Lexend Exa,Oxygen,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol !important;
}

.sidebar, .navbar, .page, .links {
  background-color:#000000 !important;
}

a {
  color:#6ef4fa !important;
}

p {
  line-height:1.2rem !important;
}

a.sidebar-link {
  font-weight:bold !important;
  color:#ffffff !important;

}

a.sidebar-link.active {
    border-left-color: #6ef4fa !important;
    color:#6ef4fa !important;
}

a.sidebar-link:hover {
  color:#6ef4fa !important;
}

.site-name {
  display:none !important;
  visibility:hidden !important;
}

.navbar .logo img {
  height:4rem !important;
  transform: rotate(-6deg);
}

.navbar {
  height:6.6rem !important;
}

.sidebar {
  top:6.6rem !important;
}

.page {
  padding-top:2.6rem;
}

.links {
  top:2.2rem !imporant;
}
