// define any additional styles here

body {
  font-family: Lexend Exa,Oxygen,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol !important;
}

a {
  color: #6ef4fa !important;
}

// hide outbound link icon (there is a bug where the icon is followed by an
// extra space)
.page a > span {
  display: none;
}

p {
  line-height: 1.5;
}

a.sidebar-link {
  color: #ffffff !important;
  line-height: 1.4 !important;
  margin-bottom: 0.6rem;
}

a.sidebar-link.active {
    border-left-color: #6ef4fa !important;
    color: #6ef4fa !important;
}

a.sidebar-link:hover {
  color: #6ef4fa !important;
}

.site-name {
  display: none !important;
}

img.logo {
  height: 5.1rem !important;
  transform: rotate(-9deg);
  margin-left: -1.1rem;
}
