// define any additional styles here

.sidebar, .navbar, .page, .links {
  background-color:#000000 !important;
}

a {
  color:#6ef4fa !important;
}

a.sidebar-link {
  font-weight:bold !important;
  color:#ffffff !important;

}

a.sidebar-link.active {
    border-left-color: #6ef4fa !important;
    color:#6ef4fa !important;
}

a.sidebar-link:hover {
  color:#6ef4fa !important;
}
