// override default stylus constants here
// https://vuepress.vuejs.org/config/#palette-styl

$bgDarkColor = #000000
$accentDarkColor = #6ef4fa
$navbarHeight = 6.6rem;

// currently using vuepress-theme-default-prefers-color-scheme, see its defaults here:
// https://github.com/tolking/vuepress-theme-default-prefers-color-scheme/blob/master/styles/palette.styl
