// override default stylus constants here
// https://vuepress.vuejs.org/config/#palette-styl

$bgColor=#000000
$accentColor=#6ef4fa

// currently using vuepress-theme-default-prefers-color-scheme, see its defaults here:
// https://github.com/tolking/vuepress-theme-default-prefers-color-scheme/blob/master/styles/palette.styl

// $accentDarkColor = #ff6ec7
